<!--login.html is inside registration folder because the LoginView Class View defines the template within a registration folder.-->

{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-lg m-auto">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class='text-white w-full bg-blue-500 hover:bg-blue-600 px-3 py-1'>Login</button>
    </form>
    <div class="py-5 border-t border-gray-200 mt-5">
        <a class="hover:text-blue-500" href="{% url 'resetpass' %}">Forgot password?</a>
    </div>
</div>
{% endblock content %}

