{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!-<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CRM</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="" rel="stylesheet" href="">

        <!-- Libraries for Design of the template -->
        <!--Styles.css as a static CSS file-->
        <link href="{% static 'main.css' %}", rel="stylesheet">
        <!--TailwindCSS CDN-->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <!--animatecss-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

        

    </head>
    <body>
        
        {% include "navbar.html" %}

        <div class="max-w-4xl  mx-auto animate__animated animate__fadeIn">
            {% block content %}
            <!--Content that extends base.html goes here.-->
            {% endblock content %}
            {% include "footer.html" %}
        </div>
        
        {%block scripts%}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!--Axios-->
        <script src=“https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js” defer></script>
        <!--AlpineJS-->
        <script src=“https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js” defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {{ users_list|json_script:"users_list" }}
        <script src = "{% static 'search-user.js' defer %}" ></script>

        <script src="{% static 'calendar.js' %}"></script>
        {%endblock scripts%}
        
    </body>
</html> 
