
{% extends "base.html" %}

{% block content %}
  <div class="grid grid-cols-1">
    <section class="text-gray-600 body-font">
      <a href="{% url 'events:event-admin-list' %}">Go back</a>
      <hr>
      <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
          {% if request.user.is_superuser %}
         
          
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">{{ event.event_title }}</h1>  

         
          <div class="flex justify-center">
            <!--Change-Password-->
            <a href="{% url 'events:checkin-checkout-input-phone' event.pk %}" target="_new">
              <div class="each flex hover:shadow-lg select-none p-10 rounded-md border-gray-300 border mb-3 hover:border-gray-500 cursor-pointer">
              <div class="left">
                  <div class="header text-blue-600 font-semibold text-2xl">Checkin w/ Phone-Number</div>
                  <div class="desc text-gray-600">this is basically used for web based front end designing</div>
              </div>
              <div class="right m-auto mr-0">
                  <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                  </svg>
                  </div>
              </div>
              </div>
            </a>

            <!--Update-Contact-Information-->
            <a href="{% url 'events:checkin-checkout-input-rfid' event.pk%}" target="_new">
              <div class="each flex hover:shadow-lg select-none p-10 rounded-md border-gray-300 border mb-3 hover:border-gray-500 cursor-pointer">
              <div class="left">
                  <div class="header text-blue-600 font-semibold text-2xl">Checkin w/ RFID</div>
                  <div class="desc text-gray-600">this is basically used for web based front end designing</div>
              </div>
              <div class="right m-auto mr-0">
                  <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                  </svg>
                  </div>
              </div>
              </div>
            </a>
          </div>
          
          
          

         
          <table class="table-auto w-full text-left whitespace-no-wrap mt-3">
            <thead>
                <tr>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Player</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Team</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Paid</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Checkin-Status</th>
                <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
                </tr>
            </thead>
            <tbody>
              
              {%for player in players%}
              <tr>
  
                  {%if player.team is 0%}
                  <td class="px-4 py-3" class="text-blue-900">{{player.user.user.username}}</td>
                  {%else%}
                  <td class="px-4 py-3" class="text-red-900">{{player.user.user.username}}</td>
                  {%endif%}
  
                  {%if player.team is 0%}
                  <td class="px-4 py-3">Blue</td>
                  {%else%}
                  <td class="px-4 py-3">Red</td>
                  {%endif%}
  
                  <td class="px-4 py-3">{{player.is_paid}}</td>
                  <td class="px-4 py-3 text-lg text-gray-900">{{player.is_checkedin}}</td>
                  <td class="w-10 text-center">
                      <a href="{%url 'events:event-manage-user' player.pk %}">
                          <button type="submit" class='text-white w-full bg-blue-500 hover:bg-blue-600 px-3 py-1'>Manage</button>
                      </a>
                      
                  </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
          {%endif%}
      </div>
    </section>
  </div>
 
    

    

    
   
{% endblock content %}