
{% extends "base.html" %}

{% block content %}
  <div class="grid grid-cols-1">
    <section class="text-gray-600 body-font">
      <a href="{% url 'events:event-admin-list' %}">Go back</a>
      <hr>
      <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
          {% if request.user.is_superuser %}
         
          
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">{{ event.event_title }}</h1>  

         
          <div class="flex justify-center">
              <a href="{% url 'events:checkin-checkout-input' event.pk %}"> <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Checkin-Checkout</button> </a>
          </div>
          
         
          <table class="table-auto w-full text-left whitespace-no-wrap mt-3">
            <thead>
                <tr>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Player</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Team</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Paid</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Checkin-Status</th>
                <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
                </tr>
            </thead>
            <tbody>
              
              {%for player in players%}
              <tr>
  
                  {%if player.team is 0%}
                  <td class="px-4 py-3" class="text-blue-900">{{player.user.user.username}}</td>
                  {%else%}
                  <td class="px-4 py-3" class="text-red-900">{{player.user.user.username}}</td>
                  {%endif%}
  
                  {%if player.team is 0%}
                  <td class="px-4 py-3">Blue</td>
                  {%else%}
                  <td class="px-4 py-3">Red</td>
                  {%endif%}
  
                  <td class="px-4 py-3">{{player.is_paid}}</td>
                  <td class="px-4 py-3 text-lg text-gray-900">{{player.is_checkedin}}</td>
                  <td class="w-10 text-center">
                      <a href="{%url 'events:event-manage-user' player.pk %}">
                          <button type="submit" class='text-white w-full bg-blue-500 hover:bg-blue-600 px-3 py-1'>Manage</button>
                      </a>
                      
                  </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
          {%endif%}
      </div>
    </section>
  </div>
 
    

    

    
   
{% endblock content %}