{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}
        
    <a href="{% url 'events:event-list' %}">Go back to Events list</a>
    <hr>
        
    <h1>Are you sure you want to delete Event?</h1>

    <form method="post">
        <!--{% csrf_token %} used for security purposes and is required for post forms in Django-->
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class='text-white w-full bg-blue-500 hover:bg-blue-600 px-3 py-1'>Delete</button>
    </form>
{% endblock content %}      


    