{% extends "base.html" %}

{% block content %}


    <a href="{% url 'venues:venue-list' %}">Go back to Venues list</a>
    <hr>

    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
                <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">Venue</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-4"> {{ venue.venue_title }} </h1>

                <div class="flex mb-4">
                    <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
                </div>

                <div class="flex border-t border-gray-200 py-2">
                    <span class="text-gray-500">Venue-Address</span>
                    <span class="ml-auto text-gray-900">{{ venue.venue_address }}</span>
                </div>
                
                <div class="flex border-t border-gray-200 py-2">
                    <span class="text-gray-500">Venue-Desc</span>
                    <span class="ml-auto text-gray-900">{{ venue.venue_desc }}</span>
                </div>
                
                <div class="flex border-t border-gray-200 py-2">
                    <span class="text-gray-500">Venue-Rules</span>
                    <span class="ml-auto text-gray-900">{{ venue.venue_rules }}</span>
                </div>

                <div class="flex border-t border-gray-200 py-2">
                    <span class="text-gray-500">Organization</span>
                    <span class="ml-auto text-gray-900">{{ venue.organisation.user.organisation_name }}</span>
                </div>
                
                
                <div class="flex">
                    

                    {% if request.user.is_superuser%}
                    <a href="{%url 'venues:venue-update' venue.pk %}"><button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Update</button></a>
                    <a href="{%url 'venues:venue-delete' venue.pk %}"><button class="flex ml-4 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Delete</button></a>
                    {% elif 'myvenue' in request.get_full_path and request.user.is_organizer %}
                    <a href="{%url 'venues:myvenue-update' venue.pk %}"><button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Update</button></a>
                    <a href="{%url 'venues:myvenue-delete' venue.pk %}"><button class="flex ml-4 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Delete</button></a>
                    {% endif %}
                </div>
               
            </div>
            <iframe width="400px" height="400px" class=" lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" frameborder="0" title="map"  scrolling="no" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=%C4%B0zmir+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" style="filter: grayscale(1) contrast(1.2) opacity(0.4);"></iframe>
        </div>
        </div>
    </section>
       
    <script src="" async defer></script>

{% endblock content %}