{% extends "base.html" %}

{% block content %}


    <a href="{% url 'events:event-list' %}">Go back to Events list</a>
    <hr>

    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
                <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">Event</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-4"> {{ event.event_title }} </h1>

                <div class="flex mb-4">
                    <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
                </div>

                
                <div class="flex border-t border-gray-200 py-2">
                    <span class="text-gray-500">Venue</span>
                    <span class="ml-auto text-gray-900">{{ event.venue }}</span>
                </div>
                
                <div class="flex border-t border-gray-200 py-2">
                    <span class="text-gray-500">Date</span>
                    <span class="ml-auto text-gray-900">{{ event.event_date }}</span>
                </div>
                
                <div class="flex border-t border-gray-200 py-2">
                    <span class="text-gray-500">Capacity</span>
                    <span class="ml-auto text-gray-900">{{ event.capacity }}</span>
                </div>
                <div class="flex border-t border-gray-200 py-2">
                    <span class="text-gray-500">Organization</span>
                    <span class="ml-auto text-gray-900">{{ event.organisation }}</span>
                </div>
                
                
                <div class="flex">
                    {% if 'myevent' not in request.get_full_path %}
                    <a href="{%url 'events:event-signup' event.pk %}"><button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-4 focus:outline-none hover:bg-indigo-600 rounded">Register</button></a>
                    {%endif%}
                    {% if request.user.is_superuser%}
                    <a href="{%url 'events:event-update' event.pk %}"><button class="flex ml-auto ml-4 text-white bg-indigo-500 border-0 py-2 px-4 focus:outline-none hover:bg-indigo-600 rounded">Update</button></a>
                    <a href="{%url 'events:event-delete' event.pk %}"><button class="flex ml-4 text-white bg-indigo-500 border-0 py-2 px-4 focus:outline-none hover:bg-indigo-600 rounded">Delete</button></a>
                    {% elif 'myevent' in request.get_full_path and request.user.is_organizer %}
                    <a href="{%url 'events:myevent-update' event.pk %}"><button class="flex ml-auto ml-4 text-white bg-indigo-500 border-0 py-2 px-4 focus:outline-none hover:bg-indigo-600 rounded">Update</button></a>
                    <a href="{%url 'events:myevent-delete' event.pk %}"><button class="flex ml-4 text-white bg-indigo-500 border-0 py-2 px-4 focus:outline-none hover:bg-indigo-600 rounded">Delete</button></a>
                    {% endif %}
                </div>
               
            </div>
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://dummyimage.com/400x400">
        </div>
        </div>
    </section>
       
    <script src="" async defer></script>

{% endblock content %}